<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds">
	<property name="LOG_TEMP" value="/home/tapp/var/app/logs" />
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<property name="DEV_HOME" value="/home/tapp/var/app/logs" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %highlight([%-5level]) [%.-10t] %logger{36}.%M:%line - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/server-debug.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %highlight([%-5level]) [%.-10t] %logger{36}.%M:%line - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/server-debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/server-error.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %highlight([%-5level]) [%.-10t] %logger{36}.%M:%line - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/server-error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="FILE-TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/server-trace.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %highlight([%-5level]) [%.-10t] %logger{36}.%M:%line - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/server-trace.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<!-- 3rd-party settings -->
	<logger name="org.springframework.web">
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
	</logger>
	<!-- <logger name="org.springframework.security"> <level value="WARN"/> <appender-ref ref="STDOUT"/> </logger> -->
	<logger name="logging.level.org.apache.tiles">
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework.data.mongodb.core.MongoTemplate">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-AUDIT" />
	</logger>

	<!-- my application -->
	<logger name="com.uangel.wells" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-AUDIT" />
	</logger>
	<logger name="trace" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="FILE-TRACE" />
	</logger>

	<logger name="jdbc" level="OFF" />

	<!-- log4jdbc settings -->
	<logger name="jdbc.connection" additivity="false">
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-AUDIT" />
	</logger>
	<logger name="jdbc.audit" additivity="false">
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-AUDIT" />
	</logger>
	<logger name="jdbc.sqlonly" additivity="false">
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-AUDIT" />
	</logger>
	<logger name="jdbc.sqltiming" additivity="false">
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-AUDIT" />
	</logger>
	<logger name="jdbc.resultset" additivity="false">
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-AUDIT" />
	</logger>
	<logger name="jdbc.resultsettable" additivity="false">
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-AUDIT" />
	</logger>

	<root level="INFO">
		<appender-ref ref="FILE-AUDIT" />
	</root>
</configuration>