<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="LOG_DIR" value="./var/logs"/>
    <property name="LOG_FILE" value="study_debug"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight([%-5level]) [%.-10t] %logger{36}.%M:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE}.log</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight([%-5level]) [%.-10t] %logger{36}.%M:%line - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.springframework.web" level="WARN" additivity="false"/>
    <logger name="com.uangel.wells" level="DEBUG" additivity="false"/>
    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.connection" level="WARN" additivity="false"/>
    <logger name="jdbc.audit" level="WARN" additivity="false"/>
    <logger name="jdbc.sqlonly" level="WARN" additivity="false"/>
    <logger name="jdbc.sqltiming" level="INFO" additivity="false"/>
    <logger name="jdbc.resultset" level="WARN" additivity="false"/>
    <logger name="jdbc.resultsettable" level="INFO" additivity="false"/>
    <logger name="com.sun.mail.smtp" level="DEBUG" additivity="true"/>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </root>
</configuration>